.DS_Store
results/hyb_/
.vscode/
*.m~
python
*.zip
*.mat
*.nii
*.img
*.hdr
*.md
Thumbs.db
*.aux
*.pdf
*.glo
*.idx
*.log
*.toc
*.toa
*.ist
*.nlo
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ddf
*.tex.Backup*
*.bib.Backup*
*.gitignore~*
*.ai
*.svg
*.asv
*.mp4
*.Rhistory
